.black-background {
  background-color: black;
  color: white;
}

.white-background {
  background-color: white;
  color: black;
}

.btn-black {
  background-color: black;
  color: white;
  border-width: thin;
  border-color: white;
}

.btn-white {
  background-color: white;
  color: black;
  border-width: thin;
  border-color: black;
}
